
@{
    ViewBag.Title = "Index";
}

<h2>Nhập điểm sinh viên</h2>
<form action="/NhapDiem/XuLy" method="post">
    <div>Mã SV: </div>  <input name="Id" />
    <div>Họ tên: </div>  <input name="Name" />
    <div>Điểm: </div>  <input name="Marks" />
    <hr />
    <input type="submit" value="Nhập" />
</form>
<br />

