
@{
    ViewBag.Title = "XuLy";
}

<div>
    <table border="1" cellspacing="0">
        <tr>
            <td>Mã SV:</td>
            <td>@ViewBag.ma</td>
        </tr>
        <tr>
            <td>Họ tên:</td>
            <td>@ViewBag.ten</td>
        </tr>
        <tr>
            <td>Điểm:</td>
            <td>@ViewBag.diem</td>
        </tr>

    </table>
</div>

