
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table border="1" cellspacing="0">
        <tr>
            <th colspan="2">Thông tin sinh viên</th>
        </tr>
        <tr>
            <td>Mã SV:</td>
            <td>SV001</td>
        </tr>
        <tr>
            <td>Họ tên:</td>
            <td>Nguyễn Thị Vân</td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td>16-09-2003</td>
        </tr>
        <tr>
            <td>Quê quán:</td>
            <td>Nam Từ Liêm, Hà Nội</td>
        </tr>
    </table>
</div>

